<div
      style="margin-top: 20px; border-top: 1px solid #ccc; padding-top: 10px"
    >
      <h4>Predict Matchup Winrate</h4>
      <label>Position:</label>
      <select id="position">
        <option value="top">Top</option>
        <option value="jungle">Jungle</option>
        <option value="mid" selected>Mid</option>
        <option value="bottom">Bottom</option>
        <option value="support">Support</option></select
      ><br /><br />

      <label for="championA">Champion A:</label>
      <select id="championA"></select>

      <label for="championB">Champion B:</label>
      <select id="championB"></select>

      <button onclick="predictMatchup()">Predict Win Chance</button>
      <p id="predictionResult" style="margin-top: 10px"></p>
    </div>